!!!
%html{:lang=>"en"}
  %head
    %meta{:charset=>"UTF-8"}
    %meta{"http-equiv"=>"X-UA-COMPATIBLE",:content=>"IE=edge"}
    %meta{:name=>"viewport",:content=>"width=device-width, initial-scale=1"}
    %meta{:name=>"description",:content=>""}
    %meta{:name=>"author",:content=>""}
    %title Achieve
    %link{:rel=>"icon",:href=>"/resources/content_static_20151229T1356/image/favicon.ico"}
    %link{:rel => "stylesheet",:type => "text/css",:href=>"/resources/bootstrap3.3.5/css/bootstrap.min.css"}
    %link{:rel => "stylesheet",:type => "text/css",:href=>"/resources/font-awesome-3.2.1/css/font-awesome.min.css"}
    %link{:rel => "stylesheet",:type => "text/css",:href=>"/resources/content_static_20151229T1356/css/style.css"}

    %script{:src => "/resources/jquery/jquery-1.11.3.min.js", :type => "text/javascript"}
    %script{:src => "/resources/bootstrap3.3.5/js/bootstrap.min.js", :type => "text/javascript"}
    %script{:src => "/resources/content_static_20151229T1356/js/common.js", :type => "text/javascript"}
  %body
    %header#header.navbar.navbar-static-top.bs-docs-nav
      %div
        %div.header-content
          %a#site-logo.site-logo{:href=>'/'}
            %i.site-logo-icon
              sitelogo
          %div.header-account-button-region
            %div.account-button
              %a#header_signin_button.signin{:href=>'#'} 登录
              %div.account-button_avatar.hidden
                %div.account-button_avatar-img
              %div.account-button_dropdown-container
                %ul.account-button_dropdown
                  %li.account-button_dropdown-option.accountName
                    %span 你好，小明！
                  %li.account-button_dropdown-option
                    %a.autoroute{:href=>"#"}
                      我的账户
                  %li.account-button_dropdown-option
                    %a.autoroute{:href=>"#"}
                      我的账户
          %div#browse-button-region.browse-button-region
            %div
              %button#browse-menu_button.browse-menu_button
                %i#browse-menu_button-icon.icon-reorder
                %span 浏览
          %button.search-mobile
            %i.icon-search
          %form.search
            %div.searchinput-region
              %div.searchinput-region-bar
                %label.sr-only{:for=>"search-input"} Search
                %span.searchinput-region-bar-span
                  %input.searchinput-region-bar-span-input.searchinput-01{:type=>"text",:tabindex=>"-1", :readonly=>true,:autocomplete=>"off",:spellcheck=>false,:style=>"position: absolute;top: 0px;left: 0px;border-color: transparent;box-shadow: none;opacity: 1;"}
                  %input.searchinput-region-bar-span-input.searchinput-02{:type=>"text",:tabindex=>"1", :placeholder=>"搜索美食",:style=>"position: relative; vertical-align: top; background-color: transparent;"}
                  %span
                %div.submit-wrapper
                  %i.icon-search
                  %input.search-submit.icon-search{:tabindex=>"2",:type=>"submit",:value=>"Go",:onsubmit=>"return false;"}
          %div#shopping_cart_button.cart-button-region
            %a.btn.btn-danger.btn-lg.btn-block
              %span.glyphicon.glyphicon-shopping-cart
              ¥ 148.00
            %div.count.v-align-wrapper.middle
              %span.quantity.v-align
                1
      %div.header-bottom
    %div#main{:role=>"main"}
      =yield
    %div#shopping_cart_div
      %article.cart-article
        %header.cart-article-header
          %span 已选购商品
        %div.cart-article-content
          %div.item-area
            %div.grouped-item-region
              %section
                %section.edit-order-items
                  %header
                    %div.item-column
                    %div.quantity-column 商品数
                    %div.total-column 总计
                  %ul
                    -#%li.edit-order-item
                      %div.item-column
                        %div.item-image
                          %img{:src=>"resources/content_static_20151229T1356/image/1.jpg"}
                        %div.item-detail
                          %span.product-title 珍妮曲奇
                          %a.product-brief 700g 8味果仁手工曲奇
                          %span.product-price ¥ 148.00
                      %div.quantity-column
                        %div.popover-region
                        %div.quantity-select
                          %input.quantity-amount{:type=>"text",:value=>"1"}
                          %div.plus-and-minus
                            %button.quantity-select-plus
                              %i.icon-plus
                            %button.quantity-select-minus
                              %i.icon-minus
                      %div.total-column
                        %span.total-price ¥ 148.00
        %footer.cart-article-footer
          %div.cart-article-footer_subtotal-container
            %div.cart-article-footer_subtotal
              %h3.cart-article-footer_subtotal-title 合计：
              %span.cart-article-footer_subtotal-count ¥ 148.00
          %div.cart-article-footer_checkout-button-container
            %button.btn.btn-lg.cart-article-footer_checkout-button{:type=>"button"} 去结算
    %div.browse-menu-region
      %div#browse-menu.browse-menu
        %div.browse-menu_container
          %div.browse-menu_nav-region
            %div.browse-menu_nav
              %a.browse-menu_sitelogo{:href=>"/"}
                %i.browse-menu_sitelogo-icon logoname
              %ul
                %li#browse-menu_nav-item-first.browse-menu_nav-item.is-selected
                  %i.browse-menu_nav-icon.icon-user
                  %button.browse-menu_nav-button 我的账户
                %li#browse-menu_nav-item-second.browse-menu_nav-item
                  %i.browse-menu_nav-icon.icon-apple
                  %button.browse-menu_nav-button 曲奇饼干
                %li#browse-menu_nav-item-third.browse-menu_nav-item
                  %i.browse-menu_nav-icon.icon-food
                  %button.browse-menu_nav-button 缤纷点心
                %li#browse-menu_nav-item-fourth.browse-menu_nav-item
                  %i.browse-menu_nav-icon.icon-beer
                  %button.browse-menu_nav-button 创意小吃
                %li#browse-menu_nav-item-fifth.browse-menu_nav-item
                  %i.browse-menu_nav-icon.icon-gift
                  %button.browse-menu_nav-button 节日礼盒
          %div#browse-menu_content-region.browse-menu_content-region
            %section.browse-menu_content-section
              %a.browse-menu_title{:href=>"#"} 我的账户
              %ul.browse-menu_content-items
                %li.browse-menu_item
                  %a.browse-menu_item-link 个人信息
                %li.browse-menu_item
                  %a.browse-menu_item-link 历史订单
                %li.browse-menu_item
                  %a.browse-menu_item-link 收货地址
                %li.browse-menu_item
                  %a.browse-menu_item-link 收藏商品
          %div{:style=>"display: none !important;"}
            %div#browse-menu_content-section-first
              %section.browse-menu_content-section
                %a.browse-menu_title{:href=>"#"} 我的账户
                %ul.browse-menu_content-items
                  %li.browse-menu_item
                    %a.browse-menu_item-link 个人信息
                  %li.browse-menu_item
                    %a.browse-menu_item-link 历史订单
                  %li.browse-menu_item
                    %a.browse-menu_item-link 收货地址
                  %li.browse-menu_item
                    %a.browse-menu_item-link 收藏商品
            %div#browse-menu_content-section-second
              %section.browse-menu_content-section
                %a.browse-menu_title{:href=>"#"} 曲奇饼干
                %ul.browse-menu_content-items
                  %li.browse-menu_item
                    %a.browse-menu_item-link 子类别
                  %li.browse-menu_item
                    %a.browse-menu_item-link 子类别
                  %li.browse-menu_item
                    %a.browse-menu_item-link 子类别
                  %li.browse-menu_item
                    %a.browse-menu_item-link 子类别
            %div#browse-menu_content-section-third
              %section.browse-menu_content-section
                %a.browse-menu_title{:href=>"#"} 缤纷点心
                %ul.browse-menu_content-items
                  %li.browse-menu_item
                    %a.browse-menu_item-link 子类别
                  %li.browse-menu_item
                    %a.browse-menu_item-link 子类别
                  %li.browse-menu_item
                    %a.browse-menu_item-link 子类别
                  %li.browse-menu_item
                    %a.browse-menu_item-link 子类别
            %div#browse-menu_content-section-fourth
              %section.browse-menu_content-section
                %a.browse-menu_title{:href=>"#"} 创意小吃
                %ul.browse-menu_content-items
                  %li.browse-menu_item
                    %a.browse-menu_item-link 子类别
                  %li.browse-menu_item
                    %a.browse-menu_item-link 子类别
                  %li.browse-menu_item
                    %a.browse-menu_item-link 子类别
                  %li.browse-menu_item
                    %a.browse-menu_item-link 子类别
            %div#browse-menu_content-section-fifth
              %section.browse-menu_content-section
                %a.browse-menu_title{:href=>"#"} 节日礼盒
                %ul.browse-menu_content-items
                  %li.browse-menu_item
                    %a.browse-menu_item-link 子类别
                  %li.browse-menu_item
                    %a.browse-menu_item-link 子类别
                  %li.browse-menu_item
                    %a.browse-menu_item-link 子类别
                  %li.browse-menu_item
                    %a.browse-menu_item-link 子类别
          %ul.browse-menu_footer
            %li.browse-menu_footer-link
              %a{:href=>"#"} 关于我们
            %li.browse-menu_footer-link
              %a{:href=>"#"} 常见问题
            %li.browse-menu_footer-link
              %a{:href=>"#"} 联系客服
    #login_and_register_region_div.modal-region
    #login_and_register_region_div_content_none{:style=>"display:none;"}
      #login_and_register_region_dialog{:class=>"login modal backdrop fade active in register",:role=>"dialog","aria-hidden"=>"false"}
        .modal-dialog
          .modal-content
            .modal-header
              %button#login_and_register_region_div_close.close.ss-icon.pull-right
                %i.icon-remove
              %h3.action-msg
                welcome
            .modal-body.login-form
              .login-panel.signin-panel
                .font
                  %a.login-btn.v-align-wrapper.middle{:href=>"#"}
                    %header.v-align
                      %h3 有账号？
                      %h2 登 录
                .back
                  .recommended-text
                    登 录
                  .input-wrapper
                    %input.password{:type=>"password",:name=>"password",:placeholder=>"密 码",:autocomplete=>"current-password"}
                  .login-btns
                    .column-1of1
                      %button.submit.button.red-bg.shadow.login-btns-btn
                        %span.text
                          登 录
                      %a.forgot-link{:href=>"#"} 忘记密码？
                      %a.needs-password-link.hidden 邮箱找回
                      .forgot-region
              .login-panel.register-panel
                .font
                  %a.login-btn.v-align-wrapper.middle{:href=>"#"}
                    %header.v-align
                      %h3 需要新账号？
                      %h2 注 册
                .back
                  .recommended-text
                    登 录
                  .input-wrapper
                    %input.firstname{:type=>"text",:name=>"username",:placeholder=>"First Name",:autocomplete=>"username"}
                    %input.firstname{:type=>"text",:name=>"gender",:placeholder=>"Last Name",:autocomplete=>"gender"}
                  .input-wrapper
                    %input.email{:type=>"email",:name=>"email",:placeholder=>"Email ",:autocomplete=>"email"}
                  .input-wrapper
                    %input.password{:type=>"password",:name=>"password",:placeholder=>"密 码",:autocomplete=>"new-password"}
                  .login-btns
                    .column-1of1
                      %button.submit.button.red-bg.shadow.login-btns-btn
                        %span.text
                          登 录
    #overlay_all
    %footer.bs-docs-footer{:role=>"contentinfo"}
      .container
        .footer-links
          %a{:href=>"#"} 联系客服
          %a{:href=>"#"} 关于我们
        ©2015 公司名称 版权所有